<h1>Repositories</h1>

<%= link_to 'Create new repository', new_repository_path %>

<% unless @repositories.blank? %>
  <ul>
  <% @repositories.each do |repository| %>
    <li>
      <%= link_to h(repository.name), repository %>
    </li>
  <% end %>
  </ul>
<% end %>