<h1>Editing Public key</h1>

<div class="main_col">
  <% form_for(@public_key) do |f| %>

    <%= render :partial => 'form', :locals => { :f => f } %>

    <p>
      <%= f.submit 'Update' %>
    </p>
  <% end %>
</div>
<div class="side_col">
  <%= link_to 'Back', @public_key %>
</div>