<h1>Public keys</h1>

<div class="main_col">
  <% unless @public_keys.blank? %>
    <ul>
    <% @public_keys.each do |public_key| %>
      <li>
        <%= link_to h(public_key.short_description) , :title => h(public_key.description) %><br />
        <%= h public_key.email %>
      </li>
    <% end %>
    </ul>
  <% end %>
</div>

<div class="side_col">
  <p><%= link_to '+ Add new public_key', new_public_key_path, :class => 'button' %></p>
</div>