<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="de">
<head>
<title>masone</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" /> -->
	
	<meta name="robots" content="INDEX,FOLLOW" />
	<meta name="language" content="de" />
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	
	<link rel="stylesheet" href="stylesheets/reset.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="stylesheets/styles.css" type="text/css" media="screen, projection" />	
	<link rel="stylesheet" href="stylesheets/print.css" type="text/css" media="print" />    
	
  <!--[if IE 6]>
  	<link href="stylesheets/ie6.css" rel="stylesheet" type="text/css" media="screen, projection" />
  <![endif]-->
  <!--[if IE 7]>
  	<link href="stylesheets/ie7.css" rel="stylesheet" type="text/css" media="screen, projection" />
  <![endif]-->

	<script type="text/javascript" src="/javascripts/jquery.js"></script>
	<script type="text/javascript" src="/javascripts/application.js"></script>
	
	<!-- <link rel="shortcut icon" href="favicon.ico" /> -->
	<!-- <link rel='alternate' type='application/rss+xml' title='RSS Feed' href='#' /></head> -->

</head>
<body>
	
	<ul id="navigation">
		<li><a href="" title="" class="active">One</a></li>
		<li><a href="" title="">Two</a></li>
		<li><a href="" title="">Three</a></li>
		<li><a href="" title="">Four</a></li>
		<li><a href="" title="">Five</a></li>
	</ul>

	<div id="content">	
    
		<h1>Heading</h1>
		<p>Hello world</p>
		
	</div>
	
</body>
</html>

